* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(203, 198, 230);
}

/* NAVBAR CSS */
nav{
  padding-left:2em;
  padding-right: 4em;
  /* TODO: figure out no longer staying fixed */
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  z-index:10;
}

nav ul {
  margin:0;
  padding:0;
  display:flex;
}
nav li{
  padding: 1em 0;
  list-style-type: none;
  padding: 25px;
  font-size: 1.7em;
}
nav li a {
  color:rgb(255, 97, 145);
  font-weight: 600;
  opacity: 0.6;
  text-decoration: none;
  transition: .3s;
}
nav li a:hover {
  color:rgb(255, 184, 53);
  opacity: 1;
  text-decoration: none;
} 
/* HEADER CSS */
.header {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: antiquewhite;
}
h2{
  margin: 0%;
  margin-left: 7%;
  margin-top: 12%;
  margin-bottom: 4%;
  position: relative;
  font-family: sans-serif; 
}
h3{
  margin: 0%;
  margin-left:7%;
  margin-right:5%;
  margin-top: 8%;
  margin-bottom: 5%;
  position: relative;
  font-family: 'Open Sans', sans-serif; 
}
img {
  width: 60%;
  height: auto;
  margin-left: 7%;
  margin-top: 2%;
}

 /* MEDIA QUERY FOR SMALL SCREENS */
@media (max-width:1100px){
.image-gallery {
  padding-bottom: 0px;
    margin-bottom: 600px;
    grid-template-columns: 1fr minmax(350px, 1fr) 1fr;
    grid-template-areas:
    ". a ."
    ". b ."
    ;
}
}
/* MEDIA QUERY FOR MOBILE */
@media (max-width:735px){
 nav {
     padding-left: 0;
 }

.image-gallery {
    padding-bottom: 90%;
    grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
    grid-template-areas:
    ".a."
    ;
}

}